#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css or BoxList.css */

.search-animate {
  transition: all 0.3s ease-in-out;
}

.search-animate:focus {
  transform: scale(1.05);
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Add or update this in your App.css or a dedicated component CSS file */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center boxes horizontally */
  gap: 20px; /* Adjust based on your preference */
  margin-top: 120px; /* Or adjust based on your layout */
}

.box-hover {
  transition: transform 0.2s ease-in-out;
  margin: 5px; /* Provides space around each box */
}

.box-hover:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


/* Easter egg animation */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.easter-egg {
  animation: spin 2s linear;
}
